
@font-face {
    font-family: Colaborate;
    src: url("./../../../../public/fonts/Colaborate/ColabReg.otf");
}

@font-face {
    font-family: Colaborate Med;
    src: url("./../../../../public/fonts/Colaborate/ColabMed.otf");
}

@font-face {
    font-family: Colaborat Lig;
    src: url("./../../../../public/fonts/Colaborate/ColabLig.otf");
}


.superLeadzHome{
    font-family: Colaborate;

}

// --------------------------------------------------------------

