.homeNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    // position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    // margin-bottom: 130px;
}
.nav_logo_img{
    width: 180px;
}
.menuBtn {
    display: none;
}

.toggleMenu {
    width: 1000px;
    margin-left: 00px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.toggleMenu>ul {
    margin-left: 50px;
    margin-bottom: 0 !important;
}

.toggleMenu>ul li {
    cursor: pointer;
}

.aboutLi,
.productLi {
    position: relative;
}

.aboutLi>p,
.productLi>p {
    cursor: pointer;
    overflow: hidden;
}

.subMenu {
    position: absolute;
    width: 500px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    transition: 0.8s ease-in-out;
    .hoverItems{
        &:hover{
            background:#f2f2f2 !important;
            border-radius: 10px;
        }
    }
}

.aboutSubMenuDown,
.productSubMenuDown {
    display: block;
}

.ItemsList {
    // background: #000 !important;
    // transition: 1s all;

    &:hover {
        .ItemsList-cont {
            display: block;
            // max-height: 500px;

        }
    }

    &:focus {
        .ItemsList-cont {
            display: block;
            background: #000 !important;
        }
    }
}

.ItemsList-cont {
    display: none;
    // max-height: 0px;
    // overflow: hidden;
}

.aboutSubMenuUp,
.productSubMenuUp {
    display: none;
}

.subMenu li {
    border-bottom: 1px solid rgba(61, 61, 61, 0.3);
}

.subMenu li:last-child {
    border-bottom: none;
}


.navBtn {
    margin-left: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .homeNav {
        justify-content: space-between;
    }

    .menuBtn {
        display: block;
        margin: 0 20px;
    }

    .toggleMenu {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: block;
        position: absolute;
        margin-left: 50% !important;
        transform: translateX(-50%);
        transition: 0.5s linear;
        z-index: 10;
    }

    .toggleMenuDown {
        top: 75px;
    }

    .toggleMenuUp {
        top: -800px;
    }

    .toggleMenu ul {
        margin-left: 0px;
        display: block !important;
    }

    .toggleMenu>ul>li {
        margin: 20px 0;
        text-align: center;
    }

    .subMenu {
        position: static;
        margin-left: 50%;
        transform: translateX(-50%);
        border: none !important;
    }

    .subMenu li {
        border-bottom: none;
    }

    .navBtn {
        flex-direction: column;
        justify-content: center;
        margin-left: 50% !important;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 500px) {
    .subMenu {
        width: 350px;
    }
    .nav_logo_img{
    width: 120px;
}
}


// sub nav ---------------------------------------------------------------
.second_navbar{
   
    z-index: 899;
    transition: all .2s linear;

    li{
        border-radius: 5px;
        &:hover{
            background: rgb(243, 243, 243);
        }
    }
}