// media query
@mixin mobile {
    @media (max-width: 512px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 912px) {
        @content;
    }
}

@mixin tab {
    @media (max-width: 775px) {
        @content;
    }
    
}
@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}
// fonts
@font-face {
    font-family: Colaborate;
    src: url("./../../../public/fonts/Colaborate/ColabReg.otf");
}

@font-face {
    font-family: Colaborate Med;
    src: url("./../../../public/fonts/Colaborate/ColabMed.otf");
}

@font-face {
    font-family: Colaborat Lig;
    src: url("./../../../public/fonts/Colaborate/ColabLig.otf");
}

*{
    font-family: Colaborate !important; 
}
.fw-lig {
    font-family: Colaborat Lig !important;
}

.fw-Med {
    font-family: Colaborat Med !important;
}


// heading
.lh-83{
    line-height: 83px !important;
    @include tab{
        line-height: 67px !important;
    }
      @include mobile{
        line-height: 40px !important;
    }
}

.main-heading {
    // color: #000 !important;
    color: #1a1a1a !important;
  
    
}

// -----------------------


// line height

.lh-29 {
    line-height: 29px !important;
}




// buttons
.main-btn-blue {
    transition: all .25s;

    // background: transparent linear-gradient(90deg, #096ef2, #0092ff) 0 0 !important;
    background: #2680eb !important;
    color: white !important;
    border: none;

    // font-size: 20px !important;
    &:active {
        transform: scale(0.9);

    }
}


.main-btn-dark {
    transition: all .25s;

    color: #000 !important;
    border: solid 1px #000 !important;

    // font-size: 18px !important;
    &:hover {
        color: #fff !important;
        background: #000 !important;
    }

    &:active {
        transform: scale(0.9);

    }
    &:focus {
        border: solid 1px #000 !important;

    }

}

.main-btn-black {
    transition: all .25s;

    color: #ffffff !important;
    border: solid 1px #000 !important;
    background: #000 !important;


    // font-size: 18px !important;
    &:hover {
        color: #fff !important;
        background: #000 !important;
    }

    &:active {
        transform: scale(0.9);

    }

}

.main-btn-light {
    color: #fff !important;
    border: solid 1px #fff !important;
    // font-size: 18px !important;
    transition: all .25s;

    &:hover {
        color: #000 !important;
        // border: solid 1px #000 !important;
        background: #fff !important;
    }

    &:active {
        transform: scale(0.9);

    }

}

.main-btn-white {
    color: #000000 !important;
    border: solid 1px #ffffff !important;
    // font-size: 18px !important;
    background: #fff !important;
    transition: all .25s;


    &:hover {
        color: #000000 !important;
        border: solid 1px #ffffff !important;
        // font-size: 18px !important;
        background: #fff !important;
    }

    &:active {
        transform: scale(0.9);

    }

}


// ------------------------------

a{
    color: #393939;
}
li{
    color: #393939;

}

// margin
.mt-200 {
    margin-top: 200px !important;
}

.mt190 {
    margin-top: 190px !important;
}

.mt180 {
    margin-top: 180px !important;
    @include mobile{
        margin-top:80px !important;

    }
}

.mt170 {
    margin-top: 170px !important;
    @include mobile{
        margin-top:80px !important;

    }
}

.mt160 {
    margin-top: 170px !important;
}

.mt150 {
    margin-top: 150px !important;
}

.mt140 {
    margin-top: 140px !important;
}

.mt130 {
    margin-top: 130px !important;
}

.mt120 {
    margin-top: 120px !important;
}

.mt110 {
    margin-top: 110px !important;
}
.mt100 {
    margin-top: 100px !important;
}
.mt80 {
    margin-top: 80px !important;
}

.mt60 {
    margin-top: 60px !important;
}

// paddiong
.pt80 {
    padding-top: 120px !important;
}

// teams page scss
.Team-img{
    filter: grayscale(80%);
    transition: filter .1s ;
    &:hover{
        filter: grayscale(0%);

    }
}