.whatsapp {

    .error_bor {

        border: solid 1px red !important;
    }


    // // dropdowm 
    // .number-container {

    //     .form-select {

    //      margin-right: 8px !important;  
    //     }
    // }
}

// stepper
.stepper {
    --circle-size: 20px;
    --spacing: 2px;

    .c-stepper {
        display: flex;

    }

    .c-stepper__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;

        &:before {
            --size: 3rem;
            content: "";
            display: block;
            width: var(--circle-size);
            height: var(--circle-size);
            border-radius: 50%;
            background-color: lightgrey;
            opacity: 0.5;
            margin: 0 auto 1rem;
        }

        &:not(:last-child) {
            &:after {
                content: "";
                position: relative;
                top: calc(var(--circle-size) / 2);
                width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
                left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
                height: 2px;
                background-color: #e0e0e0;
                order: -1;
            }
        }

        h4 {
            color: rgb(156, 156, 156) !important;

        }
    }

    .active_c {
        &:before {
            background-color: #a0a0ff;
            opacity: 1;
        }
        h4 {
            color: rgb(99, 99, 99) !important;
        }
    }

    .active_b {
        &:not(:last-child) {
            &:after {
                background-color: #a0a0ff;
            }
        }
    }

    .wrapper {
        min-width: 400px;
        margin: 2rem auto 0;
    }
}


