// sms
// option obx

.campaignOptions {
    .btn {
        border: solid 1px rgb(214, 214, 214);

        &:hover {
            background: #eadfff28 !important;
            border: solid 1px #bc96ff;

            * {
                color: #a0a0ff !important;
            }
        }
    }

    .active {
        background: #d5bdff28 !important;
        border: solid 1px #9d64ff;

        * {
            color: #696AEC !important;
        }
    }
}

.listbox {
    border: solid 1px rgb(214, 214, 214);
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);

    &:hover {
        border: solid 1px rgb(109, 109, 109);
    }

}